<!DOCTYPE html>
<html lang="en">

<head>
   {{>headlinks}}
</head>

<body>
    {{>navbar}}
    <!-- main header -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                   <!--leftside-->
                   
                   <div class="col-md-6 col-12 main_header_left ">
                       <p>Welcome to the TTR weather app</p>
                       <h1>Welcome to 
                         <span class="text_clr"> TECH TALKS REFRESH™ </span>Latest updates
                         Technology News, Gadgets comparison, Reviews, Social, FAQ, etc.
                         Gadgets Details & Custom Supports⏏️</h1>
                       <a href="https://techtalksrefresh.com/" target="_techtalksrefresh"><button>TECH TALKS REFRESH™</button></a>
                   </div>
                   <!--rightside-->
                   <div class="col-md-6 col-12 main_header_right align-center">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img class=" w-100" src="./image/—Pngtree—modern flat design concept of_5332905.png" alt="First slide">
                          </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                   </div>         
                </div>

            </div>
        </div>
    </div>
 
    <!--footer-->
    {{>footer}}
</body>

</html>